@import url("style/header.css");
body {
    background-color: rgb(40, 70, 218);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:blue;
}

.h2 {

    color:brown;
   
}